# OS
.DS_Store
*.swp
*~

# Caches
*.pyc
__pycache__/

# Editor
.idea/
.vscode/
*.code-workspace

# Hyprland sensitive files (local machine specific)
hypr/configs/env.conf.local
hypr/configs/hyprlock.conf.local

# Logs
*.log
*.lock

# Temporary
/tmp/
*.tmp

# Backup
*.bak
*.backup
